<p>Hey {{ name }},</p>
<p>This is your Otp to login</p>
<p style="font-size: 30px; font-weight:700">
   {{otp}}
</p>

<p >If you did not request this email you can safely ignore it.</p>
<p>Otp expires in 10mins</p>