<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <p>Your Email: {{ email }}</p>
    <p>Your Password: {{ password }}</p>
    <p>Reset Your Password After You Login</p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>